.sushicard-container {
    width: 22%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    cursor: pointer;
}

.sushicard-container .sushi-img {
    width: 400px;
    height: 300px;
    position: relative;
}

.sushicard-container .sushi-title {
    padding-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #d1411e;
}

.sushicard-container .sushi-price {
    font-size: 18px;
    font-weight: bold;
    color: ivory;
}


.sushicard-container .sushi-desc {
    text-align: center;
    color: ivory;
}

@media screen and (max-width: 480px) {
    .sushicard-container {
        width: 100%;
    }

    .sushi-title {
        font-size: 30px;
    }

    .sushi-price,
    .sushi-desc {
        font-size: 24px;
    }
}