.shoppingcart-container {
    background: white;
    padding: 50px;
    display: flex;
}

.shoppingcart-container .left {
    flex: 2;
}


.shoppingcart-container .left .cart-table {
    width: 100%;
    border-spacing: 20px;
}

.shoppingcart-container .left .cart-image {
    width: 40%;
    height: 40%;
    position: relative;
}



.name {
    font-weight: 500;
    color: #d1411e;
    font-size: 18px;
}

.additional-details-textarea {
    width: 100%;
    min-height: 50px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.total {
    font-weight: 500;
    font-size: 18px;
}

.shoppingcart-container .left .quantity-input {
    width: 50%;
}

.shoppingcart-container .delete-btn {
    margin-right: 50px;
    padding: 5px 10px;
    background-color: orange;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.shoppingcart-container .delete-btn:hover {
    background-color: darkorange;
}

.right {
    flex: 1;
}

.right-wrapper {
    width: 100%;
    max-height: 300px;
    background-color: #333;
    padding: 50px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.totalTextTitle {
    margin-right: 10px;
}

.button {
    height: 30px;
    color: #d1411e;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}