.sushicard-container {
    width: 22%;
    margin-top: -20px;
    margin-bottom: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sushicard-container .sushi-img {
    width: 400px;
    height: 300px;
    position: relative;
}

.sushicard-container .sushi-title {
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #d1411e;
}

.sushicard-container .sushi-price {
    font-size: 18px;
    font-weight: bold;
    color: ivory;
}


.sushicard-container .sushi-desc {
    text-align: center;
    color: ivory;
}

.sushicard-container .add-to-cart-btn {
    padding: 10px 20px;
    background-color: #d1411e;
    /* Default background color */
    color: white;
    /* Text color */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Smooth transition for background color */
    margin-top: 10px;
    /* Spacing from the description */
    border-radius: 5px;
    /* Optional: rounded corners */
}

.sushicard-container .add-to-cart-btn:hover {
    background-color: #a8322c;
    /* Darker shade on hover */
}